h1,
p {
  font-family: Lato;
}

td {
  border-width: 2px;
  border-color: grey;
  padding: 5px;
  border-style: solid;
  margin: 0px;
}

th {
  border-width: 2px;
  border-color: grey;
  padding: 5px;
  border-style: solid;
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.button-style {
  background-color: black;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  margin: 2px;
  border: none;
  outline: none;
}
